* {
  font-family: 'Inter', sans-serif;
  padding: 0;
}
.app_wrapper {
  display: grid;
  grid-template-rows: 152px 1fr;
  font-size: 15px;
}
.app_wrapper_header {
  display: grid;
  grid-template-rows: 62px 40px 50px;
  border-bottom: 1px solid #dcdcde;
}
.app_wrapper_content {
  padding: 0 16px 0 16px;
}